body {
    background-color: rgb(136, 136, 136);
    color: black;
    padding: 20px;
    font-family: Garamond, times, serif;
    border: 0px;
  }
  
  section {
    width: 100%;
  }

  #header-bar {
      width:95%;
      margin: auto;
  }

  #header-bar img{
      display: absolute;
      width: 100%;
  }

  #header-bar h1 {
    color:  rgb(255, 153, 19);
    font-size: 80px;
    font-weight: bold;
    font-family: 'Share Tech Mono', monospace;
    padding: 0px;
    margin: -95px 0 0 100px;
    text-shadow: 2px 2px 5px #111111;
    border: 0px;
  }
  
  ul {
    width: 650px;
    font: arial;
    padding: 0px 15px;
    margin: 0px 0px 0px 20px;
    font-size: 20px;
    border: 0px;
  }
  
  .menu {
     display: inline;
     padding: 0 30px;
     margin: -20px, 0;
     font: times;
     text-shadow: -1px -1px 0px #000000;
  }
  
  #nav-bar {
    width: 90%;
    font: times;
    padding: 0px 15px 10px;
    margin: -40px 0px 0px 0px;
    font-size: 20px;
    border: 0px;
    text-align: right;
  }
  
  #nav-channels{
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    color: white;
    font-size: 18px;
  }
  
  #ballard {
      width: 98%;
      margin: 27px 0;
      border-top: 5px solid rgb(172, 47, 30);
  }

  